name: Documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  aoi-docs:
    name: API documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
      - name: Checkout gh-pages
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: 'gh-pages'
      - name: Build documentation
        uses: ammaraskar/sphinx-action@0.4
        with:
          docs-folder: docs/
          build-command: make html
          pre-build-command: python -m pip install --upgrade -r requirements.txt -r docs/requirements.txt
      - name: Commit documentation changes
        run: |
          cp -r docs/build/html/* gh-pages/
          cd gh-pages
          touch .nojekyll
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git add .
          git commit -m "Updated documentation" -a || true
          git push
